# Archivo de clase compilado
*.class

# Archivo de registro
*.log

# BlueJ archivos
*.ctxt

# Herramientas móviles para Java (J2ME)
.mtj.tmp/

# Archivos de paquete #
*.jar
*.guerra
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# registros de bloqueos de máquinas virtuales, consulte http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
